h1 {
    text-align: center;
    color: rgb(80, 111, 252);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: dashed 1px rgb(24, 252, 119);
    background-color: rgb(80, 245, 245);


}